################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Storj.net/packages
/Storj.net/Storj.net/bin
/Storj.net/Storj.net/obj
